@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   /* space-grotesk-500 - latin */
   @font-face {
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 500;
      src: local(''), url('../fonts/space-grotesk-v13-latin-500.woff2') format('woff2');
   }
}